<div class="row view-heading">
  <div class="col-md-12">
    <h2><span class="glyphicon glyphicon-user"></span><span class="lighter"><%= current_user.username %></span> <span class="glyphicon glyphicon-chevron-right"></span>Profile</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">This is your user profile. In future there will be many more exciting things here, but for now just use it to u[date your email address or password. .... or, heaven forbid, cancel your account.</div>
  <div class="col-md-8">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
        <%= f.label :email, :class => "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, :class => "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
          <p class="help-block">(leave blank if you don't want to change it)</p>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, :class => "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :current_password, :class => "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.password_field :current_password, :autocomplete => "off", :class => "form-control" %>
          <p class="help-block">(we need your current password to confirm your changes)</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <button type="submit" class="btn btn-primary">Update your details</button>
        </div>
      </div>
    <% end %>
    <div class="col-md-offset-3">
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>
      <%= link_to "Back", :back, :class => "btn btn-default" %>
    </div>
  </div>
</div>


  
  <div><br />
  </div>



  <div> <i></i><br />
  </div>

  <div><br />
  </div>








