<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, :class => "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9">
      <button type="submit" class="btn btn-primary">Send me reset password instructions</button>
      <%= link_to "Back", :back, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
