<% if !user_signed_in? %>
    <div class="row" id="signup-hero">
      <!-- <button type="button" class="close pull-left" id="close-signup-hero">×</button> -->
      <div class="col-md-8">
        <img src="img/home-signup-hero.png" alt="Welcome to Draww! Share your images with the world. SIGN UP FREE">
      </div>
      <div class="col-md-4">
        <%= render "devise/registrations/form_new" %>
      </div>
    </div>
<% end %>
<div class="row view-heading">
  <div class="col-md-12">
    <h2><i class="icon-angle-right"></i>Front Page</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if user_signed_in? %>
      <div class="new-post auto-square">
        <div class="dummy"></div>
        <%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-plus-sign"), new_post_path, :data => { :toggle => "modal", :target => "#new-post-modal" }, :class => "inner" %>
      </div>
      <div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog"></div>
    <% end %>
    <% @posts.each do |post| %>
      <div class="post">
        <%= link_to image_tag(post.image.url(:thumb)), post, :data => { :toggle => "modal", :target => "#post-"+post.id.to_s+"-modal" } %>
        <%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-chevron-up"), vote_up_url(post), :class => "vote" if current_user %>
        <div class="modal fade" id="post-<%= post.id %>-modal" tabindex="-1" role="dialog"></div>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
