<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Upload an image</a></small></h4>
</div>
<%= form_for @post, :html => { :multipart => true } do |f| %>
<div class="modal-body">
  <div class="form-group">
    <div id="drop-area">
      <div class="target"><span>Drag an image file here</span></div>
      <%= f.label :image, "or choose a file" %>
      <%= f.file_field :image %>
      <p class="help-block">JPEG or PNG. 5MB max.</p>
    </div>
    <input type="hidden" name="image_data">
    <div id="meta">
    	<%= f.label :title %>
    	<%= f.text_field :title %>
    </div>
    <div id="uploader">
      <canvas id="uploader-pjs" width="600" height="600"></canvas>
      <i id="uploader-rotate" class="icon-3x icon-rotate-right"></i>
    </div>
    <div id="uploader-saving"><span>Saving...</span></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button id="uploader-save" class="btn btn-primary"><i class="icon-ok-sign icon-large"></i> Create Post</button>
</div>
<% end %>
<%= link_to 'Back', posts_path %>

<%= render 'uploader_svg' %>