<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Upload an image</a></small></h4>
</div>
<%= form_for @post, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
<div class="modal-body">
  <div id="drop-area">
    <div class="target"><span>Drag an image file here</span></div>
    <div class="form-group">
      <%= f.label :image, "or choose a file", :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.file_field :image %>
      </div>
    </div>  
  </div>
  <div id="uploader">
    <canvas id="uploader-pjs" width="600" height="600"></canvas>
    <span id="uploader-rotate" class="glyphicon glyphicon-repeat"></span>
    <%= f.hidden_field :image_data %>
    <div id="meta">
      <div class="form-group" style="margin-bottom:0;">
        <%= f.label :title, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <div id="uploader-saving"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button id="uploader-save" class="btn btn-primary"><i class="icon-ok-sign icon-large"></i> Create Post</button>
</div>
<% end %>

<%= render 'uploader_svg' %>