<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @post.vote_count %>
</p>
<p><%= link_to 'Vote Up', vote_up_url(@post), :remote => true %> | <%= link_to 'Vote Down', vote_down_url(@post), :remote => true %></p>

<p><strong>Image</strong>
	<%= image_tag @post.image.url %>
	<%= image_tag @post.image.url(:thumb) %>
	<%= image_tag @post.image.url(:fullsize) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
