<!DOCTYPE html>
<html>
<head>
	<title>DrawwV2</title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"></div>
  <!-- Fixed navbar -->
  <div id="wrap">
	  <div class="navbar navbar-default navbar-fixed-top">
	  	<div class="container">
	      <div class="navbar-header">
	        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	          	<span class="icon-bar"></span>
	          	<span class="icon-bar"></span>
	          	<span class="icon-bar"></span>
	        	</button>
	        	<a id="site-logo" class="logo" href="/"></a>
	      </div>
	    	<div class="navbar-collapse collapse">
	    		<ul class="nav navbar-nav navbar-right">

	      		<% if user_signed_in? %>

	      		<li class="dropdown user-options">
	      			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><%= current_user.username %><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to 'Edit profile', edit_user_registration_path %></li>
								<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
							</ul>
						</li>

						<% else %>

						<li>
							<%= link_to "Login", new_user_session_path, :data => { :toggle => 'modal', :target => '#login-modal' } %>
						</li>
						<li>
							<%= link_to "Sign up", new_user_registration_path %>
						</li>
						<!-- <a data-toggle="modal" data-target="#login-modal" href="">Login</a> -->

						<% end %>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
	  </div>
		<div class="container">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, id: "flash_#{name}" %>
			<% end %>

			<%= yield %>
		</div>
		<div id="footer-push"></div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<p>Draww is a new community for people to share images. It's still in <b>beta</b> so please let us know if anything's broken or there are any features you'd like to see. </p>
					<p>All content licensed under Creative Commons <a target="_blank" id="license_title_link" href="http://creativecommons.org/licenses/by-nc/3.0/">Attribution-NonCommercial 3.0 Unported License</a></p>
					<div class="cc"></div>
				</div>
				<div class="col-md-5">
					<div class="logo"><span>Draww</span></div>
				</div>
			</div>
		</div>
	</footer>
	<%= javascript_include_tag "application" %>
</body>
</html>